* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}

.h-200px {
    height: 200px;
}

.h-800px {
    height: 500px;
}

.obj-contain {
    object-fit: contain;
}